.background-color {
  background-color: lavender;
}

button, .btn-primary {
  border: none !important;
  min-width: 175px;
  min-height: 50px;
  font-size: 20px !important;
  background-color: #E18D96 !important;
  color: white;
}

.welcome {
border: solid 10px #F4AFB3;
  font-size: 18px;

  h1 {
    color: #ecffec;
    font-size: 80px;
    transform: translateY(-200px);
    animation: 0.3s slideIn ease-in-out forwards 1s;
    opacity: 0;
  }

  h1:before {
    content: '';
    background-color: lavender;
    position: absolute;
    bottom: -15px;
    width: 0;
    height: 55px;
    animation: 1.2s underline ease-in-out forwards 2.2s;
    mix-blend-mode: screen;

  }

  @keyframes slideIn {
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes underline {
    100% {
      max-width: 100%;
      width: 100%;
    }
  }

  ul {
    //list-style-type: none;
    //list-style: none;
  }

}
